/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
*,
*:before,
*::after{
  box-sizing: border-box;
}

body{
  background: #eee;
  color: #191919;
  font-family: 'Heebo', sans-serif;
}

.wrapper {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows:minmax(100px, auto);
  margin: 24px;
  max-width: 1000px;
  position: relative;
}

.wrapper>* {
grid-column: 1 / span 2;
}

.header{
  font-size: 1.5em;
  grid-row: 1 / 2;
}

header:before{
  background: cyan;
  content: "";
  display: block;
  height: 20px;
  width: auto;
}
header:after{
  background: cyan;
  content: "";
  display: block;
  height: 20px;
  width: auto;
}

h1,
h2 {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  text-transform: uppercase;
}

figure {
  margin: 0;
}

.featured-image-1 {
  grid-row: 2 / 3;
}

img{
  height: auto;
  width: 100%;
}

.article {
  text-align: right;
}

.number-1{
  grid-row: 2 / 4;
}

.featured-image-2,
.featured-image-5,

.number-2, .number-5 {
  grid-row: 4 / 5;
}

.number-1,
.number-4 {
  align-self: end;
  color: rgb(221, 91, 221);
  font-family: 'Fjalla One', sans-serif;
  font-size: 480px;
  line-height: 480px;
  grid-column: 1 / 2;
}

.number-4{
  color:rgb(172, 123, 172);
}

.article-1,
.article-4 {
  grid-column: 2 / 3;
}

.featured-image-2,
.featured-image-5,
.number-2, .number-5{
  align-self: end;
}

.number-2, .number5{
  color: rgb(93, 19, 230);
  font-size: 200px;
  justify-self: end;
  line-height: 160px;
}

.number-3, .number-6{
  color: rgb(4, 19, 158);
  font-family: 'Fjalla One', sans-serif;
  font-size: 165px;
  height: 130px;
  line-height: 130px;
  position: absolute;
  grid-row: 6 / 7;
  right: -20px;
  text-align: center;
  top: -20px;
  width: 130px;
}

.featured-image-3 img{
  height: 100%;
}

.number-4 {
  font-size: 320px;
  left: -20px;
  line-height: 320px;
  position: absolute;
}

@media(min-width: 600px){
  .wrapper {
    grid-template-columns: repeat(2, 1fr 2fr);
    margin: 24px auto;
  }

  .header{
    grid-column: 3 / 5;
    width: 70%;
  }

}
